/* line 16, sass/verification_4.scss */
#verification-grid {
  height: 650px;
  overflow-y: scroll;
}

/* line 21, sass/verification_4.scss */
table.report-grid {
  font-size: 80%;
  width: 100%;
}
/* line 24, sass/verification_4.scss */
table.report-grid tr:hover, table.report-grid table.report-grid tr.odd:hover {
  background-color: #ffffcc;
}
/* line 27, sass/verification_4.scss */
table.report-grid tr.selected, table.report-grid tr.selected td {
  background-color: #027ac6;
  color: white;
}
/* line 31, sass/verification_4.scss */
table.report-grid .nowrap {
  whitespace: nowrap;
}

/* line 36, sass/verification_4.scss */
ul.gallery li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  list-style-type: none;
  text-align: center;
  background: none;
}

/* line 44, sass/verification_4.scss */
#verify-buttons button {
  width: 16%;
  margin-right: 4%;
  margin-bottom: 2px;
  box-sizing: border-box;
}
/* line 50, sass/verification_4.scss */
#verify-buttons button:nth-child(5) {
  margin-right: 0;
}
/* line 53, sass/verification_4.scss */
#verify-buttons button img {
  margin: 0 1px;
}
/* line 56, sass/verification_4.scss */
#verify-buttons button img:nth-child(2) {
  margin-left: 0;
}

/* line 61, sass/verification_4.scss */
#btn-email-expert, #btn-email-recorder {
  width: 36%;
}

/* line 65, sass/verification_4.scss */
#btn-email-expert {
  margin-right: 4%;
}

/* line 70, sass/verification_4.scss */
#btn-multiple.active {
  -webkit-box-shadow: yellow 0px 0px 10px;
  -moz-box-shadow: yellow 0px 0px 10px;
  box-shadow: yellow 0px 0px 10px;
}

/* line 74, sass/verification_4.scss */
#comment-text {
  display: block;
  width: 100%;
}

/* line 79, sass/verification_4.scss */
.popup-form {
  width: 500px;
}
/* line 18, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form label {
  font-weight: bold;
}
/* line 19, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password],
.popup-form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text:focus, .popup-form input.title:focus, .popup-form input[type=email]:focus, .popup-form input[type=text]:focus, .popup-form input[type=password]:focus,
.popup-form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  width: 390px;
  height: 250px;
}
/* line 44, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  width: 485px;
}
/* line 46, ../../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  width: 485px;
  height: 250px;
}
/* line 84, sass/verification_4.scss */
.popup-form label {
  display: block;
}
/* line 86, sass/verification_4.scss */
.popup-form label.error {
  width: auto;
  margin: 0 0 0 120px;
  line-height: 1em;
}
/* line 92, sass/verification_4.scss */
.popup-form .helpText {
  margin-left: 0;
}
/* line 95, sass/verification_4.scss */
.popup-form .warning {
  line-height: 1.2em;
  -webkit-box-shadow: #a00000 1px 1px 3px;
  -moz-box-shadow: #a00000 1px 1px 3px;
  box-shadow: #a00000 1px 1px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 1em;
  margin: 1em;
}

/* line 104, sass/verification_4.scss */
.manual-email {
  width: 600px;
}
/* line 107, sass/verification_4.scss */
.manual-email .left {
  width: 120px;
}
/* line 110, sass/verification_4.scss */
.manual-email .right {
  width: 450px;
}

/* line 115, sass/verification_4.scss */
#instructions {
  padding: 1em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c2e0ee));
  background: -webkit-linear-gradient(top, #ffffff, #c2e0ee);
  background: -moz-linear-gradient(top, #ffffff, #c2e0ee);
  background: -o-linear-gradient(top, #ffffff, #c2e0ee);
  background: linear-gradient(top, #ffffff, #c2e0ee);
}
/* line 118, sass/verification_4.scss */
#instructions li {
  background-image: none;
  list-style-type: circle;
  list-style-position: inside;
  padding-top: 0.1em;
}

/* line 126, sass/verification_4.scss */
#record-details-toolbar {
  padding: 2px;
  border: solid silver 2px;
}
/* line 129, sass/verification_4.scss */
#record-details-toolbar label {
  width: 20%;
}

/* line 134, sass/verification_4.scss */
#record-details-tabs {
  font-size: 80%;
}
/* line 140, sass/verification_4.scss */
#record-details-tabs #details-tab table td.header {
  color: #027ac6;
  font-weight: bold;
  border-bottom: solid silver 1px;
}
/* line 145, sass/verification_4.scss */
#record-details-tabs #details-tab table td.caption {
  padding: 0 1em 0 0.5em;
  font-weight: bold;
}
/* line 154, sass/verification_4.scss */
#record-details-tabs #phenology-tab p {
  margin: 0;
}

/* line 160, sass/verification_4.scss */
input[type="button"].tools-btn, button.tools-btn {
  padding: 0.3em;
}

/* line 165, sass/verification_4.scss */
.quick-verify-popup label {
  width: auto;
  margin-left: 2em;
}
/* line 169, sass/verification_4.scss */
.quick-verify-popup button {
  margin-top: 1em;
}
/* line 172, sass/verification_4.scss */
.quick-verify-popup .helpText {
  margin-left: 45px;
}
/* line 175, sass/verification_4.scss */
.quick-verify-popup h2, .quick-verify-popup h3 {
  margin-bottom: 4px;
}
/* line 178, sass/verification_4.scss */
.quick-verify-popup a {
  text-decoration: underline;
  margin: 0px 6px;
}
/* line 181, sass/verification_4.scss */
.quick-verify-popup a:hover, .quick-verify-popup a:active {
  background-color: #ffffcc;
}

/* line 188, sass/verification_4.scss */
.verify-tools {
  display: none;
  position: absolute;
  background: white;
  border: solid silver 1px;
}
/* line 193, sass/verification_4.scss */
.verify-tools li {
  background-image: none;
  padding: 0.2em 0.5em;
}

/* line 200, sass/verification_4.scss */
tr.verified, tr.rejected, tr.total {
  text-align: right;
  padding-right: 1em;
}
/* line 204, sass/verification_4.scss */
tr.verified {
  font-color: #00a000;
}
/* line 207, sass/verification_4.scss */
tr.rejected {
  font-color: #00a000;
}
/* line 210, sass/verification_4.scss */
tr.total {
  font-weight: bold;
}

/* line 216, sass/verification_4.scss */
.grid-verify-popup button {
  margin-right: 1em;
}
